
@import url(fork-awesome.css);

body.reveal-viewport {
  background-color: #000;
}

.reveal .slides{
  font-family: "IBM Plex Mono", monospace;
}

.reveal .slides > section{
  padding: 0px;
}

.reveal h1, .reveal h2,.reveal h3,.reveal h4 {
  font-family: "IBM Plex Mono", monospace;
  /* font-family: "Minotaur Sans Lombardic Light"; */
  /*text-align: left;*/
  text-transform: none;
  font-weight: normal;
}

h2.tex {
  font-family: "CMU Serif";
}

h3.black {
  color: black;
  font-weight: bold;
}

.reveal .progress {
  color: aqua;
}

.title {
  /*font-family: "Operator Medium";*/
  font-size: 1.4em;
  color: white;
}

.title>h2{
  color: white;
}



.sub-title {
  font-family: "IBM Plex Mono", monospace;
  color: white;
  font-size: 0.6em;
}

.ref{
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.5em;
  text-align: left;
}


.reveal blockquote {
    font-family: "IBM Plex Mono", monospace;
  font-size: 0.9em;
  text-align: left;
  width: 80vw;
  border: 0px;

    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    font-style: normal;
    background: none;
    box-shadow: none;

}

.left{
  text-align: left;
}

.center {
  text-align: center;
}

.white, .white>h2{
  color: white;
}

.reveal section img{
border: none;
box-shadow: none;
}

img.cover-logo {
  margin: 0px;
}

.shadow {
  box-shadow: 0 0 10rem #000000 !important;
}

/* .reveal section img{
  max-height: 60vh;
  box-shadow: none;
  border: none;
}

.reveal figure{
  max-height: 60vh;
}

.reveal figure img {
max-height: 45vh;
} */

.social-logos {
  font-size: 4em;
}

.social-logos > p > i {
  margin: 2rem;
}

.reveal figcaption{

  font-family: "IBM Plex Mono", monospace;
  font-size: 0.5em;
}

.reveal table{
  font-size: 0.5em;
}

td, th{
  border: 1px solid;
}

tr:last-child > td {
  border-bottom: 1px solid !important;
}

.reveal pre{
  background-color: #333;
  color: white;
  padding: 10px;
  width: max-content;
}

.reveal pre code{
  font-family: "IBM Plex Mono", monospace;
}

mark {
  background-color: aqua;
}